<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AppUniversidad.Properties.Settings.DB_Entity_UniversidadConnectionString" connectionString="Data Source=DANIEL\SQLEXPRESS;Initial Catalog=DB_Entity_Universidad;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DB_Entity_Universidad" connectionString="metadata=res://*/Model.DB_Entity_Universidad.csdl|res://*/Model.DB_Entity_Universidad.ssdl|res://*/Model.DB_Entity_Universidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL\SQLEXPRESS;initial catalog=DB_Entity_Universidad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_Universidad" connectionString="metadata=res://*/Model.DB_Universidad.csdl|res://*/Model.DB_Universidad.ssdl|res://*/Model.DB_Universidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL\SQLEXPRESS;initial catalog=DB_Entity_Universidad;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_Universidad2" connectionString="metadata=res://*/Model2.DB_Universidad2.csdl|res://*/Model2.DB_Universidad2.ssdl|res://*/Model2.DB_Universidad2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANIEL\SQLEXPRESS;initial catalog=DB_Entity_Universidad;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>